.menu
    div(class="menuContainer")
        img(src="images/mammaLogo.png", id="logo")
    div(class="menubar")
        div(class="menupunkter")
            i(class="fas fa-table")
            a(href="/team" class="menuPunkt") Teams/Stuer
        div(class="menupunkter")
            i(class="fas fa-users")    
            a(href="/medarbejder" class="menuPunkt") Medarbejdere
        div(class="menupunkter")
            i(class="fas fa-clock")    
            a(href="/vagt" class="menuPunkt") Vagter
        div(class="menupunkter")    
            i(class="fas fa-user")    
            a(href="/vikar" class="menuPunkt") Vikar
        div(class="menupunkter")    
            i(class="fas fa-list")    
            a(href="/princip" class="menuPunkt") Principper
        div(class="menupunkter")    
            i(class="fas fa-calendar-day")    
            a(href="/grundplan" class="menuPunkt") Grundplan